# Example environment variables for NEO4J configuration
DB_USER_NEO=neo4j
DB_PASS_NEO=password123

# Example environment variables for MONGODB configuration
DB_USER_MONGODB=mongodb
DB_PASS_MONGODB=password123
DB_NAME_MONGODB=mydatabase
DB_HOST_MONGODB=mongodb
DB_PORT_MONGODB=27017
DB_AUTHSOURCE_MONGODB=admin